.stylized-button {
  min-height: 40px;
  height: 100%;
  width: 100%;
  cursor: pointer;
  border: 1px solid #999;
  border-radius: 7px;
  font-size: large;
  user-select: none;
  background-color: rgba(241, 193, 104, 0.925);
}
.stylized-button:hover {
  color: #666;
}
.stylized-button:active {
  background-color: rgba(202, 163, 89, 0.925);
}
