.category-selection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}
.btn {
  display: flex;
  max-width: 100%;
  width: 100%;
  flex-grow: 1;
}
